body {
    font-family: 'Source Han Serif SC', 'Source Han Serif Japanese', '宋体', '新宋体', serif;
    margin: 0;
    padding: 0;
    background-color: rgb(250, 246, 242);
    color: #333;
    font-size: 18px;
}

::selection {
    background: rgb(50 50 50);
    color: white;
  }

header {
    color: #333;
    text-align: center;
    padding: 5px 0px 5px 0px;
}

nav {
    text-align: center;
    padding: 0px 0px 20px 0px;
    margin: 0;
}

nav a {
    color: #333;
    text-decoration: none;
    font-size: 1.20rem;
    padding: 5px 7.5px;
    margin: 0;
}

nav a:hover {
    background-color: rgb(245, 153, 160);
}


/* Additional hover colors for different links */
nav a:nth-child(2):hover { background-color: rgb(124, 178, 253); }
nav a:nth-child(3):hover { background-color: rgb(245, 178, 115); }
nav a:nth-child(4):hover { background-color: rgb(147, 205, 190); }


footer{
    color: #999;
    text-align: center;
    padding: 30px 0px 0px 0px;
}

section {
    padding: 5px 20px 10px 20px;
    margin: 5px auto;
    max-width: 800px;
}

h1 {
    font-weight: bolder;
    font-size: 2.35rem;
}

h2 {
    font-size: 1.75rem;
    font-weight: 500;
}

p {
    line-height: 1.80;
    font-size: 1.25rem;
}

.date {
    font-size: 1rem;
    color: #888;
}
.excerpt {
    color: #666;
    font-size: 1.25rem;
    margin-top: 5px;
}
b {
    color: black;
    font-weight: 500;
    text-decoration: none;
}
b:hover {
    background-color: rgb(245, 153, 160);
}

/* Additional hover colors for different links */
b:nth-child(2):hover { background-color: rgb(124, 178, 253); }
b:nth-child(3):hover { background-color: rgb(222, 173, 82); }
b:nth-child(4):hover { background-color: rgb(147, 205, 190); }

.c {
    color: black;
    font-weight: 500;
    text-decoration: none;
}
.c:hover {
    background-color: rgb(76, 150, 252);
}

.article-number {
    font-size: 1.25rem; /* Smaller than the article title */
    margin-right: 10px; /* Space between the number and the title */
    color: #333; /* Same color as your article titles for consistency */
}

.d {
    background-color: rgb(76, 150, 252);
}