body {
    font-family: 'Source Han Serif SC', 'Source Han Serif Japanese', '宋体', '新宋体', serif;
    margin: 0;
    padding: 0;
    background-color: rgb(250, 250, 249);
    color: #333;
    font-size: 18px;
}

::selection {
    background: rgb(50 50 50);
    color: white;
  }

header {
    background-color: rgb(250, 250, 249);
    color: #333;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: rgb(250, 250, 249);
    text-align: center;
    padding: 10px 0px 50px 0px;
}

nav a {
    color: #333;
    text-decoration: none;
    margin: 0 5px;
    font-size: 1.45rem;
    padding: 5px 5px;
}

nav a:hover {
    background-color: rgb(245, 153, 160);
}

footer{
    color: #999;
    background-color: rgb(250, 250, 249);
    text-align: center;
    padding: 60px 0px 10px 0px;
}

section {
    padding: 0px 5px 10px 5px;
    margin: 5px auto;
    max-width: 800px;
    background: rgb(250, 250, 249);
}

h1 {
    font-weight: normal;
    font-size: 2.5rem;
}

h2 {
    font-weight: normal;
    font-size: 1.75rem;
}

p {
    line-height: 1.80;
    font-size: 1.25rem;
}

/* Additional hover colors for different links */
nav a:nth-child(2):hover { background-color: rgb(76, 150, 252); }
nav a:nth-child(3):hover { background-color: rgb(222, 173, 82); }
nav a:nth-child(4):hover { background-color: rgb(147, 205, 190); }

.date {
    font-size: 1rem;
    color: #888;
}
.excerpt {
    color: #666;
    font-size: 1.25rem;
    margin-top: 5px;
}
b {
    color: black;
    font-weight: normal;
    text-decoration: none;
}
b:hover {
    background-color: rgb(245, 153, 160);
}

/* Additional hover colors for different links */
b:nth-child(2):hover { background-color: rgb(76, 150, 252); }
b:nth-child(3):hover { background-color: rgb(222, 173, 82); }
b:nth-child(4):hover { background-color: rgb(147, 205, 190); }

.c {
    color: black;
    font-weight: normal;
    text-decoration: none;
}
.c:hover {
    background-color: rgb(76, 150, 252);
}

.article-number {
    font-size: 1.25rem; /* Smaller than the article title */
    margin-right: 10px; /* Space between the number and the title */
    color: #333; /* Same color as your article titles for consistency */
}

.d {
    background-color: rgb(76, 150, 252);
}