body {
    font-family: 'Source Han Serif SC', 'Source Han Serif Japanese', 'Source Han Serif TC', serif;
    margin: 0;
    padding: 0;
    background-color: #fdf9ed;
    color: #3b392c;
    font-size: 18px;
}

html body button {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

button {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

a, button, input[type="button"], input[type="submit"] {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

::selection {
    background: rgb(50 50 50);
    color: white;
}

header {
    color: #3b392c;
    text-align: center;
    padding: 5px 0px 5px 0px;
}

nav {
    text-align: center;
    padding: 0px 0px 20px 0px;
    margin: 0;
}


nav a {
    color: #3b392c;
    text-decoration: none;
    font-size: 1.20rem;
    padding: 5px 7.5px;
    margin: 0;
}

nav a:hover {
    background-color: rgb(245, 153, 160);
}

nav a:active {
    background-color: transparent; /* 取消背景颜色 */
    color: #3b392c; /* 维持文字颜色不变 */
}


/* Additional hover colors for different links */
nav a:nth-child(2):hover { background-color: rgb(124, 178, 253); }
nav a:nth-child(3):hover { background-color: rgb(255, 177, 104); }
nav a:nth-child(4):hover { background-color: rgb(147, 205, 190); }


footer{
    color: #999;
    text-align: center;
    padding: 30px 0px 0px 0px;
}

section {
    padding: 5px 20px 10px 20px;
    margin: 5px auto;
    max-width: 800px;
}

h1 {
    font-size: 2.35rem;
    font-weight: 700;
}

h2 {
    font-size: 1.75rem;
    font-weight: 700;
    color:#3b392c;
}

p {
    line-height: 1.80;
    font-size: 1.15rem;
    font-family: 'Noto Sans','Noto Sans Japanese', 'Noto Sans Traditional Chinese', 'Noto Sans Simplified Chinese', sans-serif;
    
}

.date {
    font-size: 1.15rem;
    color: #888;
    line-height: 1.5;
    margin-top: 7.5px;
    margin-bottom: 2.5px;
}

.nametag{
    margin-top: 5px;
    margin-bottom: 2.5px;
    font-size: 1rem;
    display: inline-block;
    padding: 2px 10px; /* 添加一些内边距使标签更易读 */
    margin-right: 5px; /* 标签之间的间距 */
    border: 1.5px solid rgb(76, 150, 252); 
    color: rgb(76, 150, 252); /* 字体颜色 */
    border-radius: 25px; /* 圆角边框 */
    font-family: 'Noto Sans','Noto Sans Japanese', 'Noto Sans Traditional Chinese', 'Noto Sans Simplified Chinese', sans-serif;
}

.nametagdelete{
    margin-top: 5px;
    margin-bottom: 2.5px;
    font-size: 1rem;
    display: inline-block;
    padding: 2px 10px; /* 添加一些内边距使标签更易读 */
    margin-right: 5px; /* 标签之间的间距 */
    border: 1.5px solid rgb(255, 92, 105); 
    color: rgb(255, 92, 105); /* 字体颜色 */
    border-radius: 25px; /* 圆角边框 */
    font-family: 'Noto Sans','Noto Sans Japanese', 'Noto Sans Traditional Chinese', 'Noto Sans Simplified Chinese', sans-serif;
}

.zhaochan{
    margin-top: 5px;
    margin-bottom: 2.5px;
    font-size: 1rem;
    display: inline-block;
    padding: 2px 10px; /* 添加一些内边距使标签更易读 */
    margin-right: 5px; /* 标签之间的间距 */
    border: 1.5px solid rgb(255, 123, 0); 
    color: rgb(255, 123, 0); /* 字体颜色 */
    border-radius: 25px; /* 圆角边框 */
    font-family: 'Noto Sans','Noto Sans Japanese', 'Noto Sans Traditional Chinese', 'Noto Sans Simplified Chinese', sans-serif;
}

.excerpt {
    color: #666;
    font-size: 1.15rem;
    margin-top: 5px;
    line-height: 1.65;
}
.b {
    color: #3b392c;
    font-weight: 700;
    text-decoration: none;
}
.b:hover {
    color: black;
    background-color: rgb(245, 153, 160);
}

/* Additional hover colors for different links */
b:nth-child(2):hover { background-color: rgb(124, 178, 253); }
b:nth-child(3):hover { background-color: rgb(222, 173, 82); }
b:nth-child(4):hover { background-color: rgb(147, 205, 190); }

.c {
    color: #3b392c;
    font-weight: 600;
    text-decoration: none;
}
.c:hover {
    background-color: rgb(76, 150, 252);
    color:black;
}

.article-number {
    font-size: 1.25rem; /* Smaller than the article title */
    margin-right: 10px; /* Space between the number and the title */
    color: #3b392c; /* Same color as your article titles for consistency */
    font-weight: 700;
}

.d {
    background-color: rgb(76, 150, 252);
}

.warning {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px; /* 保持警告框底部间隔 */
    text-align: center;
    box-sizing: border-box;
}

.tags {
    margin: 0px; /* 在标签和标题之间添加一些间距 */
}

.tag {
    display: inline-block;
    padding: 5px 12px; /* 添加一些内边距使标签更易读 */
    margin-right: 5px; /* 标签之间的间距 */
    background-color: rgb(76, 150, 252); /* 背景颜色 */
    color: #fff; /* 字体颜色 */
    border-radius: 25px; /* 圆角边框 */
    font-size: 0.9rem; /* 字体大小 */
    font-family: 'Noto Sans','Noto Sans Japanese', 'Noto Sans Traditional Chinese', 'Noto Sans Simplified Chinese', sans-serif;
}

.notes-container {
    column-count: 2; /* 分成两列 */
    column-gap: 20px; /* 列之间的间隔 */
    max-width: 1024px;
    margin: auto;
    padding: 0px 15px 0px 15px; /* 添加内边距 */
    }

.note {
    background-color: #fff;
    break-inside: avoid; /* 防止note被分割到两列 */
    margin-bottom: 20px; /* 仅设置底部间距 */
    padding: 15px;
    border-radius: 25px;
    box-sizing: border-box;
    font-family: 'Noto Sans','Noto Sans Japanese', 'Noto Sans Traditional Chinese', 'Noto Sans Simplified Chinese', sans-serif;
    border: 1.5px solid #b3b3b3; /* 添加浅灰色边框 */
}

.note h2 {
    font-size: 22px;
    color: #3b392c;
}

.note p {
    font-size: 17.5px;
    color: #666;
}

.page-navigation {
    text-align: center;
    margin: 15px auto;
}

.navigation-buttons {
    text-align: center; /* Center align the navigation buttons */
    margin-top: 30px; /* Space above the navigation buttons */
}

.page-link {
    padding: 8px 15px;
    border: 1.5px solid #d3d3d3; /* Light gray border for non-active links */
    border-radius: 25px; /* Rounded border for the active page */
    color: black;
    text-decoration: none;
    font-size: 16px;
    margin: 0 5px;
}

.page-link:hover {
    border-color: #FFA500; /* Orange border for hovered page link */
    color: black; /* To ensure text color stays black */
    border-radius: 25px; /* Rounded border on hover */
    background-color: #FFA500;
}

.page-link.active {
    padding: 8px 15px 8px 15px;
    border: 1.5px solid #FFA500; /* Orange border for the active page link */
    color: black;
    border-radius: 25px; /* Rounded border for the active page */
    pointer-events: none; /* To prevent clicking on the active page number */
}

.page-link:not(.active) {
    border: none;
}

.passwordenter-button {
    padding: 10px 50px;
    border: 1.5px solid #666;
    color: #666; /* White text */
    text-decoration: none; /* No underline */
    font-size: 18px; /* Larger text */
    font-weight: normal;
}

.passwordenter-button:hover {
    background-color: rgb(43, 189, 150); /* Darker green background on hover */
    border: 1.5px solid #fdf9ed;
    color: black;
}

.hamburger {
    display: none; /* 在大屏幕上隐藏汉堡菜单 */
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    padding-right: 10px;
}

.message-board {
    font-family: 'Noto Sans', 'Noto Sans Japanese', 'Noto Sans Traditional Chinese', 'Noto Sans Simplified Chinese', sans-serif;
}

.message-board h2 {
    font-family: 'Source Han Serif SC', 'Source Han Serif Japanese', 'Source Han Serif TC', serif;
}

.message-board form {
    width: 100%;
}

.message-board input[type="text"],
.message-board textarea {
    width: 100%;
    padding: 12px;
    border: 1.5px solid #ccc;
    background-color: white;
    font-size: 1.15rem;
    margin-bottom: 10px; /* 增加間隔 */
    outline: none;
    max-width: 440px;
    font-family: 'Noto Sans', 'Noto Sans Japanese', 'Noto Sans Traditional Chinese', 'Noto Sans Simplified Chinese', sans-serif;
}

.message-board input[type="text"]:focus,
.message-board textarea:focus {
    border-color: rgb(0, 207, 152); /* 聚焦時的邊框顏色 */
}

.message-board button {
    width: 100%;
    padding: 12px 60px;
    background-color: rgb(83, 209, 176);
    color: #333;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 0px; /* 按鈕圓角 */
}

.message-board button:hover {
    background-color: rgb(43, 189, 150);
}

img {
    max-width: 100%; /* 確保圖片不會超出其父元素的寬度 */
    height: auto;   /* 保持圖片的原始寬高比 */
}

@keyframes slide-out-slow-in {
    0%, 8% { 
      transform: translateX(0); 
      opacity: 1; 
    }
    12% { 
      transform: translateX(100%); 
      opacity: 0; 
    }
    18% { 
      transform: translateX(-50%); 
      opacity: 0; 
    }
    22%, 100% { 
      transform: translateX(0); 
      opacity: 1; 
    }
  }
  
  .link-with-arrow:hover img {
    animation: slide-out-slow-in 3s ease-in-out infinite;
  }
  

@media (max-width: 600px) {
    header {
        display: flex; /* 使用Flex布局 */
        justify-content: space-between; /* 左右布局 */
        align-items: center; /* 垂直居中 */
        padding: 5px 10px; /* 调整内边距 */
    }

    header h1{
        font-size: 30px;
        padding-left: 10px;
    }

    .warning{
        font-size: smaller;
    }

    .hamburger {
        display: block; /* 在小屏幕上显示汉堡菜单按钮 */
    }

    #navbar {
        display: none; /* 默认隐藏导航栏 */
        flex-direction: column; /* 垂直排列导航项 */
        width: 100%; /* 宽度100% */
        position: absolute; /* 用绝对定位 */
        top: 94px; /* 从顶部开始的位置，调整以适应你的页眉高度 */
        left: 0; /* 从左边界开始 */
        background-color: #fdf9ed; /* 设置背景色与页面背景一致 */
        z-index: 1000; /* 确保在最前面 */
    }

    #navbar a {
        text-align: center; /* 居中导航链接 */
        padding: 10px; /* 增加填充 */
        border-top: 1px solid gray; /* 添加顶部边框 */
    }

    #navbar.active {
        display: flex; /* 当菜单打开时显示 */
    }
}
